In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
raw = pd.read_csv("Thesis-MTurk_April+23,+2024_23.05.csv")

In [3]:
raw_num = pd.read_csv("Thesis-MTurk_April+23,+2024_23.03.csv")

In [4]:
raw_uchi_num = pd.read_csv("Thesis-UChicago_April+24,+2024_08.30.csv")

In [5]:
raw_uchi = pd.read_csv("Thesis-UChicago_April+24,+2024_08.28.csv")

In [6]:
raw = raw.drop([0,1])

In [7]:
raw = raw.drop([27, 56])

In [8]:
raw = raw.iloc[:-1]

In [9]:
raw_uchi = raw_uchi.drop([0,1])

In [10]:
raw_uchi_num = raw_uchi_num.drop([0,1])

In [11]:
raw_num = raw_num.drop([0,1])

In [12]:
raw_num = raw_num.iloc[:-1]

In [13]:
raw_num = raw_num.drop([27, 56])

In [12]:
column_names = list(raw.columns)
print(column_names)

['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'RecipientLastName', 'RecipientFirstName', 'RecipientEmail', 'ExternalReference', 'LocationLatitude', 'LocationLongitude', 'DistributionChannel', 'UserLanguage', 'QID1', 'Q3', 'Q4', 'Q9', 'Q47', 'Q5', 'Q6', 'Q7', 'Q46', 'QID14_1', 'QID14_2', 'QID14_3', 'QID14_4', 'QID14_5', 'QID14_6', 'QID14_7', 'QID14_8', 'QID14_9', 'QID14_10', 'QID14_11', 'QID14_12', 'QID14_13', 'QID14_14', 'QID14_15', 'QID14_16', 'QID14_17', 'Q301_First Click', 'Q301_Last Click', 'Q301_Page Submit', 'Q301_Click Count', '1', 'Q302_First Click', 'Q302_Last Click', 'Q302_Page Submit', 'Q302_Click Count', '2', 'Q303_First Click', 'Q303_Last Click', 'Q303_Page Submit', 'Q303_Click Count', '3', 'Q304_First Click', 'Q304_Last Click', 'Q304_Page Submit', 'Q304_Click Count', '4', 'Q305_First Click', 'Q305_Last Click', 'Q305_Page Submit', 'Q305_Click Count', '5', 'Q142_First Click', 'Q142_Last Click', 'Q142_Page Submit', 'Q142_Click Count', 'Q306_First Click', 'Q306_Last Click', 'Q306_Page Submit', 'Q306_Click Count', '6', 'Q307_First Click', 'Q307_Last Click', 'Q307_Page Submit', 'Q307_Click Count', '7', 'Q308_First Click', 'Q308_Last Click', 'Q308_Page Submit', 'Q308_Click Count', '8', 'Q309_First Click', 'Q309_Last Click', 'Q309_Page Submit', 'Q309_Click Count', '9', 'Q310_First Click', 'Q310_Last Click', 'Q310_Page Submit', 'Q310_Click Count', '10', '5A5B-1', 'Q234_First Click', 'Q234_Last Click', 'Q234_Page Submit', 'Q234_Click Count', '6A4B-1', 'Q235_First Click', 'Q235_Last Click', 'Q235_Page Submit', 'Q235_Click Count', '7A3B-1', 'Q236_First Click', 'Q236_Last Click', 'Q236_Page Submit', 'Q236_Click Count', 'Q237_First Click', 'Q237_Last Click', 'Q237_Page Submit', 'Q237_Click Count', '8A2B-1', 'Q238_First Click', 'Q238_Last Click', 'Q238_Page Submit', 'Q238_Click Count', '10A0B-1', 'Q239_First Click', 'Q239_Last Click', 'Q239_Page Submit', 'Q239_Click Count', '6A4B-2', 'Q240_First Click', 'Q240_Last Click', 'Q240_Page Submit', 'Q240_Click Count', 'F7A3B-2', 'Q241_First Click', 'Q241_Last Click', 'Q241_Page Submit', 'Q241_Click Count', 'F5A5B-3', 'Q242_First Click', 'Q242_Last Click', 'Q242_Page Submit', 'Q242_Click Count', '5A5B-2', 'Q243_First Click', 'Q243_Last Click', 'Q243_Page Submit', 'Q243_Click Count', '4A6B-2', 'Q244_First Click', 'Q244_Last Click', 'Q244_Page Submit', 'Q244_Click Count', 'F3A7B-2', 'Q245_First Click', 'Q245_Last Click', 'Q245_Page Submit', 'Q245_Click Count', '5A5B-3', 'Q246_First Click', 'Q246_Last Click', 'Q246_Page Submit', 'Q246_Click Count', 'F6A4B-3', 'Q247_First Click', 'Q247_Last Click', 'Q247_Page Submit', 'Q247_Click Count', 'F4A6B-3', 'Q248_First Click', 'Q248_Last Click', 'Q248_Page Submit', 'Q248_Click Count', 'F5A5B-4', 'Q249_First Click', 'Q249_Last Click', 'Q249_Page Submit', 'Q249_Click Count', '4A6B-1', 'Q250_First Click', 'Q250_Last Click', 'Q250_Page Submit', 'Q250_Click Count', '3A7B-1', 'Q251_First Click', 'Q251_Last Click', 'Q251_Page Submit', 'Q251_Click Count', '2A8B-1', 'Q252_First Click', 'Q252_Last Click', 'Q252_Page Submit', 'Q252_Click Count', '0A10B-1', 'Q253_First Click', 'Q253_Last Click', 'Q253_Page Submit', 'Q253_Click Count', '7A3B-2', 'Q254_First Click', 'Q254_Last Click', 'Q254_Page Submit', 'Q254_Click Count', '3A7B-2', 'Q255_First Click', 'Q255_Last Click', 'Q255_Page Submit', 'Q255_Click Count', '6A4B-3', 'Q256_First Click', 'Q256_Last Click', 'Q256_Page Submit', 'Q256_Click Count', 'F7A3B-3', 'Q257_First Click', 'Q257_Last Click', 'Q257_Page Submit', 'Q257_Click Count', '4A6B-3', 'Q258_First Click', 'Q258_Last Click', 'Q258_Page Submit', 'Q258_Click Count', 'F3A7B-3', 'Q259_First Click', 'Q259_Last Click', 'Q259_Page Submit', 'Q259_Click Count', '5A5B-4', 'Q260_First Click', 'Q260_Last Click', 'Q260_Page Submit', 'Q260_Click Count', 'F6A4B-4', 'Q261_First Click', 'Q261_Last Click', 'Q261_Page Submit', 'Q261_Click Count', 'F4A6B-4', 'Q262_First Click', 'Q262_Last Click', 'Q262_Page Submit', 'Q262_Click Count', 'F5A5B-5', 'Q141_First Click', 'Q141_Last Click', 'Q141_Page Submit', 'Q141_Click Count', 'Q263_First Click', 'Q263_Last Click', 'Q263_Page Submit', 'Q263_Click Count', '2.1', 'Q311_First Click', 'Q311_Last Click', 'Q311_Page Submit', 'Q311_Click Count', '3.1', 'Q312_First Click', 'Q312_Last Click', 'Q312_Page Submit', 'Q312_Click Count', '4.1', 'Q313_First Click', 'Q313_Last Click', 'Q313_Page Submit', 'Q313_Click Count', '5.1', 'Q314_First Click', 'Q314_Last Click', 'Q314_Page Submit', 'Q314_Click Count', '6.1', 'Q264_First Click', 'Q264_Last Click', 'Q264_Page Submit', 'Q264_Click Count', '2.2', 'Q319_First Click', 'Q319_Last Click', 'Q319_Page Submit', 'Q319_Click Count', '3.2', 'Q320_First Click', 'Q320_Last Click', 'Q320_Page Submit', 'Q320_Click Count', '4.2', 'Q321_First Click', 'Q321_Last Click', 'Q321_Page Submit', 'Q321_Click Count', '5.2', 'Q322_First Click', 'Q322_Last Click', 'Q322_Page Submit', 'Q322_Click Count', '6.2', 'Q265_First Click', 'Q265_Last Click', 'Q265_Page Submit', 'Q265_Click Count', '3.3', 'Q315_First Click', 'Q315_Last Click', 'Q315_Page Submit', 'Q315_Click Count', '4.3', 'Q316_First Click', 'Q316_Last Click', 'Q316_Page Submit', 'Q316_Click Count', '5.3', 'Q317_First Click', 'Q317_Last Click', 'Q317_Page Submit', 'Q317_Click Count', '6.3', 'Q266_First Click', 'Q266_Last Click', 'Q266_Page Submit', 'Q266_Click Count', '6A4B-4', 'Q267_First Click', 'Q267_Last Click', 'Q267_Page Submit', 'Q267_Click Count', '7A3B-4', 'Q268_First Click', 'Q268_Last Click', 'Q268_Page Submit', 'Q268_Click Count', '5.4', 'Q318_First Click', 'Q318_Last Click', 'Q318_Page Submit', 'Q318_Click Count', '6.4', 'Q269_First Click', 'Q269_Last Click', 'Q269_Page Submit', 'Q269_Click Count', '6A4B-5', 'Q270_First Click', 'Q270_Last Click', 'Q270_Page Submit', 'Q270_Click Count', '7A3B-5', 'Q271_First Click', 'Q271_Last Click', 'Q271_Page Submit', 'Q271_Click Count', '6A4B-6', 'Q272_First Click', 'Q272_Last Click', 'Q272_Page Submit', 'Q272_Click Count', '5A5B-6', 'Q273_First Click', 'Q273_Last Click', 'Q273_Page Submit', 'Q273_Click Count', '4A6B-6', 'Q274_First Click', 'Q274_Last Click', 'Q274_Page Submit', 'Q274_Click Count', '5A5B-7', 'Q275_First Click', 'Q275_Last Click', 'Q275_Page Submit', 'Q275_Click Count', '5A5B-5', 'Q276_First Click', 'Q276_Last Click', 'Q276_Page Submit', 'Q276_Click Count', '4A6B-5', 'Q277_First Click', 'Q277_Last Click', 'Q277_Page Submit', 'Q277_Click Count', '3A7B-5', 'Q278_First Click', 'Q278_Last Click', 'Q278_Page Submit', 'Q278_Click Count', '7A3B-6', 'Q279_First Click', 'Q279_Last Click', 'Q279_Page Submit', 'Q279_Click Count', '3A7B-6', 'Q280_First Click', 'Q280_Last Click', 'Q280_Page Submit', 'Q280_Click Count', '6A4B-7', 'Q281_First Click', 'Q281_Last Click', 'Q281_Page Submit', 'Q281_Click Count', '4A6B-7', 'Q282_First Click', 'Q282_Last Click', 'Q282_Page Submit', 'Q282_Click Count', '5A5B-8', 'Q283_First Click', 'Q283_Last Click', 'Q283_Page Submit', 'Q283_Click Count', '4.4', 'Q326_First Click', 'Q326_Last Click', 'Q326_Page Submit', 'Q326_Click Count', '5.5', 'Q327_First Click', 'Q327_Last Click', 'Q327_Page Submit', 'Q327_Click Count', '6.5', 'Q284_First Click', 'Q284_Last Click', 'Q284_Page Submit', 'Q284_Click Count', '5.6', 'Q323_First Click', 'Q323_Last Click', 'Q323_Page Submit', 'Q323_Click Count', '6.6', 'Q285_First Click', 'Q285_Last Click', 'Q285_Page Submit', 'Q285_Click Count', '5A5B-9', 'Q286_First Click', 'Q286_Last Click', 'Q286_Page Submit', 'Q286_Click Count', '6A4B-8', 'Q287_First Click', 'Q287_Last Click', 'Q287_Page Submit', 'Q287_Click Count', '4A6B-8', 'Q288_First Click', 'Q288_Last Click', 'Q288_Page Submit', 'Q288_Click Count', '7A3B-7', 'Q289_First Click', 'Q289_Last Click', 'Q289_Page Submit', 'Q289_Click Count', '3A7B-7', 'Q290_First Click', 'Q290_Last Click', 'Q290_Page Submit', 'Q290_Click Count', '5A5B-10', 'Q291_First Click', 'Q291_Last Click', 'Q291_Page Submit', 'Q291_Click Count', '6A4B-9', 'Q292_First Click', 'Q292_Last Click', 'Q292_Page Submit', 'Q292_Click Count', '4A6B-9', 'Q293_First Click', 'Q293_Last Click', 'Q293_Page Submit', 'Q293_Click Count', '7A3B-8', 'Q294_First Click', 'Q294_Last Click', 'Q294_Page Submit', 'Q294_Click Count', '3A7B-8', 'Q295_First Click', 'Q295_Last Click', 'Q295_Page Submit', 'Q295_Click Count', '3A7B-4', 'Q296_First Click', 'Q296_Last Click', 'Q296_Page Submit', 'Q296_Click Count', '4.5', 'Q324_First Click', 'Q324_Last Click', 'Q324_Page Submit', 'Q324_Click Count', '5.7', 'Q325_First Click', 'Q325_Last Click', 'Q325_Page Submit', 'Q325_Click Count', '6.7', 'Q297_First Click', 'Q297_Last Click', 'Q297_Page Submit', 'Q297_Click Count', '3.4', 'Q328_First Click', 'Q328_Last Click', 'Q328_Page Submit', 'Q328_Click Count', '4.6', 'Q329_First Click', 'Q329_Last Click', 'Q329_Page Submit', 'Q329_Click Count', '5.8', 'Q330_First Click', 'Q330_Last Click', 'Q330_Page Submit', 'Q330_Click Count', '6.8', 'Q298_First Click', 'Q298_Last Click', 'Q298_Page Submit', 'Q298_Click Count', '4A6B-4', 'Engagement', 'Consensus_1', 'Q300_First Click', 'Q300_Last Click', 'Q300_Page Submit', 'Q300_Click Count', 'anti- daughter 1_1', 'anti- daughter 2_1', 'anti- daughter 3_1', 'anti- job 1_1', 'anti- job 2_1', 'anti- job 3_1', 'anti- injury 1_1', 'anti- injury 2_1', 'anti- injury 3_1', 'Q299_First Click', 'Q299_Last Click', 'Q299_Page Submit', 'Q299_Click Count', 'pro- daughter 1_1', 'pro- daughter 2_1', 'pro- daughter 3_1', 'pro- job 1_1', 'pro- job 2_1', 'pro- job 3_1', 'pro- injury 1_1', 'pro- injury 2_1', 'pro- injury 3_1', 'Q222', 'Q227', 'Q227_4_TEXT', 'Q228', 'Q219', 'Q223', 'Q223_8_TEXT', 'Q224', 'Q225', 'Q225_4_TEXT', 'Q226', 'Q230', 'Q233', 'SC0', 'SC1', 'SC2', 'SC3', 'SC4', 'SC5', 'SC6', 'SC7', 'SC8', 'SC9', 'SC10', 'SC11', 'SC12', 'SC13', 'SC14', 'SC15', 'SC16', 'SC17', 'SC18', 'SC19', 'SC20', 'SC21', 'SC22', 'SC23', 'SC24', 'SC25', 'SC26', 'SC27', 'SC28', 'SC29', 'SC30', 'SC31', 'SC32', 'SC33', 'SC34', 'SC35', 'SC36', 'SC37', 'SC38', 'SC39', 'SC40', 'SC41', 'SC42', 'SC43', 'SC44', 'SC45', 'SC46', 'SC47', 'SC48', 'SC49', 'SC50', 'SC51', 'SC52', 'SC53', 'SC54', 'SC55', 'SC56', 'SC57', 'SC58', 'SC59', 'SC60', 'SC61', 'SC62', 'SC63', 'SC64', 'abortion attitude score', 'EC', 'PT', 'EE', '5a5b-1', '6a4b-1', '7a3b-1', '6a4b-2', '5a5b-2', '4a6b-2', '5a5b-3', '4a6b-1', '3a7b-1', '7a3b-2', '3a7b-2', '6a4b-3', '4a6b-3', '5a5b-4', 'f7a3b-2', 'f7a3b-3', '6a4b-4', '7a3b-4', '6a4b-5', '7a3b-5', '5a5b-6', '5a5b-5', '4a6b-5', '3a7b-5', '6a4b-6', '4a6b-6', '5a5b-7', 'f6a4b-3', 'f6a4b-4', '3a7b-6', '7a3b-6', '5a5b-8', '6a4b-7', '4a6b-7', 'f5a5b-4', 'f5a5b-3', 'f5a5b-5', '5a5b-9', '6a4b-8', '4a6b-8', '7a3b-7', '3a7b-7', 'f4a6b-3', 'f4a6b-4', '3a7b-4', 'f3a7b-2', 'f3a7b-3', '4a6b-4']

- matching the timing block question number with tweets block

In [14]:
# group indicator, 0 control, 1 rec
raw['group'] = raw['Q303_Page Submit'].isnull().astype(int)
raw_num['group'] = raw_num['Q303_Page Submit'].isnull().astype(int)

In [15]:
# group indicator, 0 control, 1 rec
raw_uchi['group'] = raw_uchi['Q303_Page Submit'].isnull().astype(int)
raw_uchi_num['group'] = raw_uchi_num['Q303_Page Submit'].isnull().astype(int)

In [22]:
sum(raw["group"])

56

In [243]:
sum(raw_uchi["group"])

7

set profile indicators

In [16]:
raw['anti-profile'] = raw['anti- daughter 1_1'].notnull().astype(int)
raw_num['anti-profile'] = raw_num['anti- daughter 1_1'].notnull().astype(int)

In [17]:
raw_uchi['anti-profile'] = raw_uchi['anti- daughter 1_1'].notnull().astype(int)
raw_uchi_num['anti-profile'] = raw_uchi_num['anti- daughter 1_1'].notnull().astype(int)

In [18]:
raw['pro-profile'] = raw['pro- daughter 1_1'].notnull().astype(int)
raw_num['pro-profile'] = raw_num['pro- daughter 1_1'].notnull().astype(int)

In [19]:
raw_uchi['pro-profile'] = raw_uchi['pro- daughter 1_1'].notnull().astype(int)
raw_uchi_num['pro-profile'] = raw_uchi_num['pro- daughter 1_1'].notnull().astype(int)

general abortion attitude

In [20]:
raw_num['gen_att'] = -1 * raw_num['Q46'].astype(int) + 4

In [21]:
raw_uchi_num['gen_att'] = -1 * raw_uchi_num['Q46'].astype(int) + 4

In [63]:
raw_num['gen_att']

2     3
3     3
4     3
5     3
6     0
     ..
58    3
59    3
60    3
61    2
62   -1
Name: gen_att, Length: 61, dtype: int64

In [26]:
raw_num['gen_att'].describe()

count    102.000000
mean       0.990196
std        2.381842
min       -3.000000
25%       -1.750000
50%        2.000000
75%        3.000000
max        3.000000
Name: gen_att, dtype: float64

In [27]:
raw_num['gen_att'].value_counts()

gen_att
 3    47
 2    15
-3    15
-2    11
-1     7
 1     4
 0     3
Name: count, dtype: int64

In [22]:
raw_num["detail_att"] = raw_num["abortion attitude score"].astype(int) / 7

In [23]:
raw_uchi_num["detail_att"] = raw_uchi_num["abortion attitude score"].astype(int) / 7

In [29]:
raw_num["detail_att"].describe()

count    102.000000
mean       1.532213
std        0.705077
min        1.000000
25%        1.000000
50%        1.142857
75%        1.857143
max        3.142857
Name: detail_att, dtype: float64

In [158]:
raw_uchi_num[raw_uchi_num["gen_att"] == -3]["detail_att"]

3     2.714286
11    1.714286
24    2.428571
Name: detail_att, dtype: float64

In [36]:
raw_num[raw_num["gen_att"] == -3]["detail_att"]

36     2.428571
37     1.714286
40     3.142857
47     3.142857
53     2.571429
63     3.142857
64     2.714286
65     3.142857
67     3.142857
82     3.142857
84     2.285714
94     2.428571
98     3.000000
101    2.571429
103    2.714286
Name: detail_att, dtype: float64

In [139]:
raw_num[raw_num["gen_att"] == 1]["detail_att"]

8     1.142857
39    1.571429
44    2.000000
50    1.142857
Name: detail_att, dtype: float64

In [141]:
raw_num[raw_num["gen_att"] == -3]["detail_att"]

36    2.428571
37    1.714286
40    3.142857
47    3.142857
53    2.571429
Name: detail_att, dtype: float64

some mismatch between gen_att and detail_att

In [24]:
raw_num['gen_att_bi'] = np.where(raw_num['gen_att'] > 0, 1, np.where(raw_num['gen_att'] < 0, -1, 0))

In [25]:
raw_num['detail_att_bi'] = np.where(raw_num['detail_att'] < 2, 1, np.where(raw_num['detail_att'] > 15 / 7, -1, 0))

In [26]:
raw_uchi_num['gen_att_bi'] = np.where(raw_uchi_num['gen_att'] > 0, 1, np.where(raw_uchi_num['gen_att'] < 0, -1, 0))

In [27]:
raw_uchi_num['detail_att_bi'] = np.where(raw_uchi_num['detail_att'] < 2, 1, np.where(raw_uchi_num['detail_att'] > 15 / 7, -1, 0))

In [145]:
raw_num.groupby('group')['gen_att_bi'].value_counts().unstack(fill_value=0)

gen_att_bi  -1   0   1
group
0            9   2  24
1            7   1  18

In [150]:
raw_num.groupby(['group','anti-profile'])['gen_att_bi'].value_counts().unstack(fill_value=0)

gen_att_bi          -1   0   1
group anti-profile
0     0              3   2  13
      1              6   0  11
1     0              3   0   9
      1              4   1   9

In [28]:
conditions = [
    (raw_num['gen_att_bi'] == 1) & (raw_num['anti-profile'] == 0),   # Condition for value 1
    (raw_num['gen_att_bi'] == -1) & (raw_num['anti-profile'] == 1)  # Condition for value 1
]

choices = [1, 1]  # Both conditions result in a value of 1

# Create 'profile_align_att' using np.select
raw_num['profile_align_att'] = np.select(conditions, choices, default=0)  # Default value is 0

In [29]:
conditions = [
    (raw_uchi_num['gen_att_bi'] == 1) & (raw_uchi_num['anti-profile'] == 0),   # Condition for value 1
    (raw_uchi_num['gen_att_bi'] == -1) & (raw_uchi_num['anti-profile'] == 1)  # Condition for value 1
]

choices = [1, 1]  # Both conditions result in a value of 1

# Create 'profile_align_att' using np.select
raw_uchi_num['profile_align_att'] = np.select(conditions, choices, default=0)  # Default value is 0

In [30]:
conditions = [
    (raw_num['detail_att'] < 2) & (raw_num['anti-profile'] == 0),   # Condition for value 1
    (raw_num['detail_att'] > 15 / 7) & (raw_num['anti-profile'] == 1)  # Condition for value 1
]

choices = [1, 1]  # Both conditions result in a value of 1

# Create 'profile_align_att' using np.select
raw_num['profile_align_detail_att'] = np.select(conditions, choices, default=0)  # Default value is 0

In [31]:
conditions = [
    (raw_uchi_num['detail_att'] < 2) & (raw_uchi_num['anti-profile'] == 0),   # Condition for value 1
    (raw_uchi_num['detail_att'] > 15 / 7) & (raw_uchi_num['anti-profile'] == 1)  # Condition for value 1
]

choices = [1, 1]  # Both conditions result in a value of 1

# Create 'profile_align_att' using np.select
raw_uchi_num['profile_align_detail_att'] = np.select(conditions, choices, default=0)  # Default value is 0

In [40]:
raw_num['profile_align_att'].value_counts()

profile_align_att
1    54
0    48
Name: count, dtype: int64

combined situational empathy data

In [32]:
column_pairs = [
    ("anti- daughter 1_1", "pro- daughter 1_1", "daughter1"),
    ("anti- daughter 2_1", "pro- daughter 2_1", "daughter2"),
    ("anti- daughter 3_1", "pro- daughter 3_1", "daughter3"),
    ("anti- job 1_1", "pro- job 1_1", "job1"),
    ("anti- job 2_1", "pro- job 2_1", "job2"),
    ("anti- job 3_1", "pro- job 3_1", "job3"),
    ("anti- injury 1_1", "pro- injury 1_1", "injury1"),
    ("anti- injury 2_1", "pro- injury 2_1", "injury2"),
    ("anti- injury 3_1", "pro- injury 3_1", "injury3"),
]

In [33]:
for anti, pro, new_name in column_pairs:
    raw_num[new_name] = raw_num[anti].fillna(raw_num[pro]).astype(int)

In [34]:
for anti, pro, new_name in column_pairs:
    raw_uchi_num[new_name] = raw_uchi_num[anti].fillna(raw_uchi_num[pro]).astype(int)

In [188]:
raw_num.groupby(['profile_align_att', 'group'])['injury1'].median().unstack(fill_value=0)

group                0    1
profile_align_att
0                  7.5  7.0
1                  9.0  9.0

In [200]:
raw_num.groupby(['profile_align_detail_att', 'group'])['injury3'].median().unstack(fill_value=0)

group                       0    1
profile_align_detail_att
0                         7.5  8.0
1                         9.0  9.0

In [84]:
raw_num["daughter1"].describe()

count    99.000000
mean      8.363636
std       1.859639
min       2.000000
25%       7.000000
50%       9.000000
75%      10.000000
max      10.000000
Name: daughter1, dtype: float64

demographics break down

In [43]:
combined_age = pd.concat([raw_num["Q222"], raw_uchi_num["Q222"]])

In [45]:
combined_age.astype(int).describe()

count    129.000000
mean      33.240310
std       12.842663
min       18.000000
25%       20.000000
50%       33.000000
75%       41.000000
max       73.000000
Name: Q222, dtype: float64

In [47]:
combined_demo = pd.concat([raw[["Q228", "Q223", "Q225"]], raw_uchi[["Q228", "Q223", "Q225"]]])

In [49]:
new_colnames = ["race", "religion", "political"]

In [50]:
combined_demo.columns = new_colnames

In [53]:
combined_demo["race"].value_counts(normalize=True) * 100

race
White                                              58.59375
Asian                                              14.84375
Black or African American                          12.50000
Prefer not to say                                   3.12500
Other                                               3.12500
White,Asian                                         2.34375
White,Black or African American                     1.56250
White,American Indian or Alaska Native              0.78125
Black or African American,Other                     0.78125
Asian,Other                                         0.78125
White,Asian,Native Hawaiian or Pacific Islander     0.78125
American Indian or Alaska Native                    0.78125
Name: proportion, dtype: float64

In [56]:
0.78*5+1.56250 +       2.34375

7.80625

In [55]:
combined_demo["political"].value_counts(normalize=True) * 100

political
Democratic Party     42.635659
Independent          26.356589
Republican Party     23.255814
Prefer not to say     5.426357
Other                 2.325581
Name: proportion, dtype: float64

In [57]:
combined_demo["religion"].value_counts(normalize=True) * 100

religion
Christianity         41.085271
Agnostic             26.356589
Atheist              10.852713
Other                 9.302326
Prefer not to say     4.651163
Judaism               3.875969
Buddhism              1.550388
Hinduism              1.550388
Islam                 0.775194
Name: proportion, dtype: float64

In [58]:
9.302326 +     1.550388 +  1.550388

12.403102

In [62]:
uchi_edu = pd.DataFrame({
    "Q219": ["Some college, but no degree"] * 30
})

In [63]:
combined_edu = pd.concat([raw["Q219"], uchi_edu["Q219"]])

In [64]:
combined_edu.value_counts(normalize=True) * 100

Q219
Some college, but no degree                                             39.534884
Bachelor’s degree                                                       30.232558
High school diploma or GED                                              11.627907
Associates or technical degree                                          10.077519
Graduate or professional degree (MA, MS, MBA, PhD, JD, MD, DDS etc.)     8.527132
Name: proportion, dtype: float64

In [69]:
combined_att = pd.concat([raw_num["detail_att_bi"], raw_uchi_num["detail_att_bi"]])

In [67]:
combined_att = pd.concat([raw_num["gen_att_bi"], raw_uchi_num["gen_att_bi"]])

In [70]:
combined_att.value_counts(normalize=True) * 100

detail_att_bi
 1    77.519380
-1    19.379845
 0     3.100775
Name: proportion, dtype: float64

end with 10a0b/0a10b

In [35]:
sum(raw_num["10A0B-1"].notnull())

28

In [71]:
raw_num["10A0B-1"] = raw_num["10A0B-1"].notnull().astype(int)

In [72]:
raw_uchi_num["10A0B-1"] = raw_uchi_num["10A0B-1"].notnull().astype(int)

In [73]:
raw_num["0A10B-1"] = raw_num["0A10B-1"].notnull().astype(int)

In [89]:
raw_num["3a7b-5"].value_counts()

3a7b-5
-1    1
Name: count, dtype: int64

In [88]:
raw_uchi_num["3a7b-5"].value_counts()

Series([], Name: count, dtype: int64)

In [100]:
raw_uchi_num["2A8B-1"].value_counts()

2A8B-1
5,6,7,9             1
3,4,5,6,7,8,9,10    1
Name: count, dtype: int64

In [86]:
raw_uchi_num[(raw_uchi_num["0A10B-1"] == 1) & (raw_uchi_num["3a7b-5"] == 1)]

Empty DataFrame
Columns: [StartDate, EndDate, Status, IPAddress, Progress, Duration (in seconds), Finished, RecordedDate, ResponseId, RecipientLastName, RecipientFirstName, RecipientEmail, ExternalReference, LocationLatitude, LocationLongitude, DistributionChannel, UserLanguage, QID1, Q3, Q4, Q9, Q47, Q5, Q6, Q7, Q46, QID14_1, QID14_2, QID14_3, QID14_4, QID14_5, QID14_6, QID14_7, QID14_8, QID14_9, QID14_10, QID14_11, QID14_12, QID14_13, QID14_14, QID14_15, QID14_16, QID14_17, Q303_First Click, Q303_Last Click, Q303_Page Submit, Q303_Click Count, 1, Q304_First Click, Q304_Last Click, Q304_Page Submit, Q304_Click Count, 2, Q305_First Click, Q305_Last Click, Q305_Page Submit, Q305_Click Count, 3, Q306_First Click, Q306_Last Click, Q306_Page Submit, Q306_Click Count, 4, Q307_First Click, Q307_Last Click, Q307_Page Submit, Q307_Click Count, 5, Q142_First Click, Q142_Last Click, Q142_Page Submit, Q142_Click Count, Q308_First Click, Q308_Last Click, Q308_Page Submit, Q308_Click Count, 6, Q309_First Click, Q309_Last Click, Q309_Page Submit, Q309_Click Count, 7, Q312_First Click, Q312_Last Click, Q312_Page Submit, Q312_Click Count, 8, Q310_First Click, Q310_Last Click, Q310_Page Submit, Q310_Click Count, 9, Q311_First Click, Q311_Last Click, Q311_Page Submit, Q311_Click Count, 10, 5A5B-1, Q234_First Click, Q234_Last Click, ...]
Index: []

[0 rows x 704 columns]

In [1]:
raw_num["0A10B-1"].value_counts()

NameError: name 'raw_num' is not defined

In [165]:
raw_uchi_num["0A10B-1"] = raw_uchi_num["0A10B-1"].notnull().astype(int)

In [102]:
echo_chambers = {
    ("10A0B-2", "SC0"),
    ("10A0B-3", "SC1"),
    ("10A0B-4", "SC2"),
    ("10A0B-5", "SC3"),
    ("0A10B-2", "SC4"),
    ("0A10B-3", "SC5"),
    ("0A10B-4", "SC6"),
    ("0A10B-5", "SC7"),
}

In [103]:
for colname, question in echo_chambers:
    raw_num[colname] = np.where(raw_num[question].astype(int) != 0, 1, 0)

In [104]:
for colname, question in echo_chambers:
    raw_uchi_num[colname] = np.where(raw_uchi_num[question].astype(int) != 0, 1, 0)

In [117]:
raw_num["0A10B-1"].value_counts()

0A10B-1
0    91
1     8
Name: count, dtype: int64

In [110]:
raw_num[raw_num["3a7b-5"].astype(float) == -1]

,StartDate,EndDate,Status,IPAddress,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,RecipientLastName,...,injury2,injury3,10A0B-2,0A10B-3,10A0B-4,10A0B-3,0A10B-2,10A0B-5,0A10B-4,0A10B-5
5,2024-04-16 17:39:40,2024-04-16 18:05:34,0,72.230.166.166,100,1554,1,2024-04-16 18:05:35,R_3WYEaHZk26viUxB,NaN,...,7,9,0,0,0,0,0,0,0,0

In [136]:
num_echo_chambers_pro = sum(raw_num["10A0B-2"]) + sum(raw_num["10A0B-3"]) + sum(raw_num["10A0B-4"]) + sum(raw_num["10A0B-5"])

In [168]:
num_echo_chambers_pro_uchi = sum(raw_uchi_num["10A0B-2"]) + sum(raw_uchi_num["10A0B-3"]) + sum(raw_uchi_num["10A0B-4"]) + sum(raw_uchi_num["10A0B-5"])

In [169]:
num_echo_chambers_pro_uchi

10

In [138]:
num_echo_chambers_pro

28

In [194]:
num_echo_chambers_anti = sum(raw_num["0A10B-2"]) + sum(raw_num["0A10B-3"]) + sum(raw_num["0A10B-4"]) + sum(raw_num["0A10B-5"])

In [195]:
num_echo_chambers_anti_uchi = sum(raw_uchi_num["0A10B-2"]) + sum(raw_uchi_num["0A10B-3"]) + sum(raw_uchi_num["0A10B-4"]) + sum(raw_uchi_num["0A10B-5"])

In [171]:
num_echo_chambers_anti_uchi

3

In [139]:
num_echo_chambers_anti

14

In [140]:
num_echo_chambers = num_echo_chambers_pro + num_echo_chambers_anti
print(num_echo_chambers)

42

In [172]:
num_echo_chambers_uchi = num_echo_chambers_pro_uchi + num_echo_chambers_anti_uchi
print(num_echo_chambers_uchi)

13

In [142]:
raw_num["group"].value_counts()

group
1    54
0    45
Name: count, dtype: int64

In [174]:
raw_uchi_num["group"].value_counts()

group
1    17
0    13
Name: count, dtype: int64

In [22]:
(42 + 13)/ (54 + 17)

0.7746478873239436

In [176]:
13/17

0.7647058823529411

In [182]:
raw_num["gen_att_bi"].value_counts()

gen_att_bi
 1    64
-1    32
 0     3
Name: count, dtype: int64

In [183]:
(64+32) / 99

0.9696969696969697

In [178]:
raw_uchi_num["gen_att_bi"].value_counts()

gen_att_bi
 1    21
-1     6
 0     3
Name: count, dtype: int64

In [179]:
27 / 30

0.9

In [186]:
raw_num["detail_att_bi"].value_counts()

detail_att_bi
 1    75
-1    21
 0     3
Name: count, dtype: int64

In [187]:
(75 + 21) / 99

0.9696969696969697

In [184]:
raw_uchi_num["detail_att_bi"].value_counts()

detail_att_bi
 1    25
-1     4
 0     1
Name: count, dtype: int64

In [185]:
29 / 30

0.9666666666666667

In [220]:
# 2 male, 1 female
raw_num["Q226"].value_counts()

Q226
4    18
5    15
2    13
3    12
1     3
Name: count, dtype: int64

In [219]:
raw["Q226"].value_counts()

Q226
Somewhat Liberal         18
Very Liberal             15
Somewhat Conservative    13
Moderate                 12
Very Conservative         3
Name: count, dtype: int64

In [211]:
raw_num["Q224"].value_counts()

Q224
1    25
2    17
3    16
4     3
Name: count, dtype: int64

In [85]:
raw_num["religious"] = raw_num["Q224"].astype(int)

In [15]:
raw_num["gender"] = raw_num["Q227"].astype(int) - 1

In [87]:
raw_num["liberal"] = raw_num["Q226"].astype(int)

In [16]:
raw_uchi_num["religious"] = raw_uchi_num["Q224"].astype(int)
raw_uchi_num["gender"] = raw_uchi_num["Q227"].astype(int) - 1
raw_uchi_num["liberal"] = raw_uchi_num["Q226"].astype(int)

In [18]:
raw_num["gender"].value_counts()

gender
1    62
0    36
2     1
Name: count, dtype: int64

In [19]:
raw_uchi_num["gender"].value_counts()

gender
1    15
0    14
4     1
Name: count, dtype: int64

In [215]:
data2 = raw_num[["group", "profile_align_detail_att", "profile_align_att", 
                 "gen_att", "detail_att", "gen_att_bi", "detail_att_bi",
                 "daughter1", "daughter2", "daughter3", "job1", "job2",
                 "job3", "injury1",  "injury2", "injury3", "Engagement", 
                 "Consensus_1", "EC", "PT", "EE", "education", "religious", "gender", "liberal",
                 "10A0B-1", "10A0B-2","10A0B-3","10A0B-4","10A0B-5",
                 "0A10B-1","0A10B-2","0A10B-3","0A10B-4","0A10B-5", "8A2B-1",
                 "2A8B-1",
                 "Duration (in seconds)"]]

In [216]:
data2.to_csv("test2")

In [227]:
raw_num["Engagement"].value_counts()

Engagement
1    19
2    19
3    14
4     9
Name: count, dtype: int64

In [228]:
raw["Engagement"].value_counts()

Engagement
Not at all    19
Slightly      19
Moderately    14
Much           9
Name: count, dtype: int64

In [201]:
raw["Q219"].value_counts()

Q219
Bachelor’s degree                                                       39
Some college, but no degree                                             21
High school diploma or GED                                              15
Associates or technical degree                                          13
Graduate or professional degree (MA, MS, MBA, PhD, JD, MD, DDS etc.)    11
Name: count, dtype: int64

In [205]:
raw_num["education"] = raw_num["Q219"]

In [204]:
raw_num["Q219"].value_counts()

Q219
5    39
3    21
2    15
4    13
6    11
Name: count, dtype: int64

In [203]:
raw_uchi["Q302"].value_counts()

Q302
Sophomore    14
Freshman     14
Other         1
Senior        1
Name: count, dtype: int64

In [208]:
raw_uchi_num["education"] = 3

In [217]:
data3 = raw_uchi_num[["group", "profile_align_detail_att", "profile_align_att", 
                 "gen_att", "detail_att", "gen_att_bi", "detail_att_bi",
                 "daughter1", "daughter2", "daughter3", "job1", "job2",
                 "job3", "injury1",  "injury2", "injury3", "Engagement", 
                 "Consensus_1", "EC", "PT", "EE", "education", "religious", "gender", "liberal",
                 "10A0B-1", "10A0B-2","10A0B-3","10A0B-4","10A0B-5",
                 "0A10B-1","0A10B-2","0A10B-3","0A10B-4","0A10B-5", "8A2B-1",
                 "2A8B-1",
                 "Duration (in seconds)"]]

In [21]:
raw_uchi["Engagement"].value_counts(
)

Engagement
Not at all    10
Moderately     8
Slightly       8
Much           3
Very much      1
Name: count, dtype: int64

In [271]:
data3.to_csv("test1_uchi")

In [218]:
combined = pd.concat([data2, data3])

In [282]:
combined.shape

(80, 22)

In [219]:
combined.to_csv("combined")

In [220]:
combined["religious"].value_counts()

religious
1    54
2    30
3    27
4    13
6     5
Name: count, dtype: int64

In [224]:
raw_uchi["Q224"].value_counts()

Q224
Not religious           10
Slightly religious       6
Prefer not to say        5
Moderately religious     5
Very religious           4
Name: count, dtype: int64

In [229]:
raw_num["8A2B-1"] = raw_num["8A2B-1"].notnull().astype(int)

In [237]:
raw_num["2A8B-1"] = raw_num["2A8B-1"].notnull().astype(int)

In [234]:
raw_uchi_num["8A2B-1"] = raw_uchi_num["8A2B-1"].notnull().astype(int)

In [238]:
raw_uchi_num["2A8B-1"] = raw_uchi_num["2A8B-1"].notnull().astype(int)

In [239]:
raw_num["2A8B-1"] = np.where((raw_num['2A8B-1'] == 1) & (raw_num["0A10B-1"]==0), 1, 0)

In [ ]:
raw_num["8A2B-1"] = np.where((raw_num['8A2B-1'] == 1) & (raw_num["10A0B-1"]==0), 1, 0)

In [235]:
raw_uchi_num["8A2B-1"] = np.where((raw_uchi_num['8A2B-1'] == 1) & (raw_uchi_num["10A0B-1"]==0), 1, 0)

In [240]:
raw_uchi_num["2A8B-1"] = np.where((raw_uchi_num['2A8B-1'] == 1) & (raw_uchi_num["0A10B-1"]==0), 1, 0)

In [242]:
raw_num["2A8B-1"].value_counts()

2A8B-1
0    89
1    10
Name: count, dtype: int64

In [213]:
raw_num["Duration (in seconds)"].astype(int).describe()

count      99.000000
mean     1505.484848
std       712.389918
min       572.000000
25%       960.000000
50%      1442.000000
75%      1857.000000
max      5601.000000
Name: Duration (in seconds), dtype: float64

In [214]:
raw_uchi_num["Duration (in seconds)"].astype(int).describe()

count      30.000000
mean     1823.466667
std      1526.145307
min       550.000000
25%      1138.750000
50%      1280.000000
75%      1566.250000
max      6892.000000
Name: Duration (in seconds), dtype: float64